LANGSMITH_API_KEY="lsv2_pt_9d9d................."
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://eu.api.smith.langchain.com"
LANGCHAIN_PROJECT="langchain-v1-projects"

GOOGLE_API_KEY="...."
OLLAMA_API_KEY="....."
WEATHER_API_KEY="......"